.nuqui-title{
    color: dodgerblue;
    font-family: Poppins,sans-serif;
    font-size: 40px;
    padding: 20px 0px;
    font-weight: bold;
}

.nuqui{
    display: flex;
    padding: 60px 0px;
}

.nuqui-img img{
    max-width: 300px;
    max-height: 300px;
}

.nuqui-text{
    font-family: Poppins,sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.nuqui-slider{
    padding: 20px 0px;
}

/* RESPONSIVE DESIGN */

@media (max-width: 995px) {
    .nuqui{
        display: flex;
        flex-direction: column;
    }
    .nuqui-text{
        margin-bottom: -60px;
    }
    .nuqui-img{
        margin-top: -60px;
        margin-bottom: 20px;
        align-self: center;
    }
}

/* RESPONSIVE DESIGN */